<div class="container" style="padding-bottom:20px;">
  <div class="text-center mb-2">
    <i class="bi bi-chat-dots text-info me-2" style="font-size:65px"></i>
    <span class="h5">Welcome to ChatApp</span>
  </div>
  
  <div class="row">
    <div class="col-md-3 border border-3 rounded p-3 mx-4" style="height:470px">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action bg-secondary text-light border-secondary" aria-current="true">
          Menu
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light border-secondary">Home</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light border-secondary">Messages</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light border-secondary">Friends</a>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card border-3" style="height:470px">
        <div class="card-header text-center fw-bold">
          Chat Room
        </div>
        <div class="card-body" id="msg-container">
          <%= render @messages %>
        </div>
        <div class="card-footer">
          <%= form_with model: @message, url: message_path, remote: :true, class:"input-group flex-nowrap" do |f| %>
            <%= f.text_field :body, placeholder:"Type something...", class:"form-control" %>
            <%= f.button class:"input-group-text bg-info", id:"addon-wrapping" do %>
              <i class="bi bi-send"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>