<div class="container">
  <h1>Welcome to ChatApp <i class="bi bi-chat-left-quote-fill text-info"></i></h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus incidunt ipsa unde, est quas quod ipsum tenetur fuga? Deserunt sequi cumque dolores in libero soluta minima culpa, deleniti illum autem inventore dignissimos est. Quae magnam maiores sapiente amet esse quia delectus doloremque nihil doloribus a consequuntur quis labore repudiandae vel commodi praesentium nobis voluptates tempora necessitatibus, quo consequatur quas pariatur soluta dolorum. Quo fugiat ipsam enim temporibus voluptatibus vero incidunt aspernatur magnam nulla, distinctio dolores velit voluptates illum quam vel labore rerum commodi nihil eveniet sunt! Cupiditate, aliquid repellat assumenda, ex alias dolorum beatae, exercitationem ad corrupti animi id obcaecati?</p>
  <p>
    <i class="bi bi-star-fill text-warning fs-1"></i>
    <i class="bi bi-star-fill text-warning fs-1"></i>
    <i class="bi bi-star-fill text-warning fs-1"></i>
    <i class="bi bi-star-fill text-warning fs-1"></i>
    <i class="bi bi-star-half text-warning fs-1"></i>
  </p>
</div>